.search {
    border: 1px solid black;
    border-radius: 5px;
    width: 178px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.input {
    border: 1px solid black;
    padding: 5px;
    background-color: gainsboro;
    border-radius: 5px;
    margin-top: 5px;
}