.container {
    border: 1px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    min-width: 314px;
    max-width: 314px;
    max-height: 207px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}